{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h3>About</h3>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis elementum metus, ut fringilla leo egestas vitae. Quisque vitae mauris posuere, sagittis nulla sit amet, luctus leo. Vestibulum purus est, aliquet ac neque in, lacinia blandit nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer ultrices vestibulum augue. Nullam venenatis, ligula quis maximus gravida, enim ante aliquet purus, et rutrum lectus diam commodo lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean vulputate tellus vitae libero consectetur, at egestas ligula lacinia. Quisque imperdiet nulla mi, nec pulvinar tortor porta vel. Aenean mi urna, tincidunt id ante in, luctus pellentesque sapien. Nam venenatis lectus in sodales egestas.</p>
</div>
{% endblock %}